* {
    background-color: #faf4ed;
    font-family: 'Inconsolata', monospace;
}

.header ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 50px;
}

.header a {
    padding: 8px;
    text-decoration: none;
}

footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}
.container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.noteArea {
    background-color: #f2e9e1;
    border: none;
    resize: none;
}

button {
    border: none;
    background-color: #faf4ed;
}
.Save, .Delete {
    display: flex;
    flex-direction: row;
    margin-left: 470px;
}

.newNote {
    margin-left: 300px;
}

.sideNav ul {
    list-style-type: none;
}

.sideNav {
    height: 100%;
    width: 175px;
    top: 0;
    background-color: beige;
    position: fixed;
}

.sideNav h1, .sideNav button, .sideNav li, .sideNav ul{
    background-color: beige;
}
.sideNav button {
    margin-left: 135px;
}
.sideNav h1{
    text-align: center;
}

.save, .del {
    border: 0;
    display: flex;
    align-items: center;
}
.buttonContainer {
    display: flex;
    flex-direction: row;
}
@Media screen and (max-width: 767px) {
    .noteArea {
        width: 200px;
        height: 100px;
    }
    .sideNav {
        width: 50px;
    }
    .sideNav h1, .sideNav ul{
        font-size: 10px;
        padding: 0;
        text-align: center;
    }
    .sideNav button {
        font-size: 10px;
        margin-left: 20px;
    }
    .newNote {
        text-align: center;
        padding: 0;
        margin-left: 100px;
    }
}

