html{
    background-color: #faf4ed;
}

.header ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 50px;
}

.header a {
    padding: 8px;
    text-decoration: none;
}

footer{
    position: sticky;
    bottom: 0;
    text-align: center;
    width: 100%;
}

textarea, .newNote {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    background-color: #f2e9e1;
    border: none;
    resize: none;
}

.Save, .Delete {
    display: flex;
    flex-direction: row;
    margin-left: 470px;
    border: none;
}